<h1>User Profile Page</h1>
<p>
  Projects You have backed:
</p>


<ul>
  <% list_of_pledges_for_user = Hash.new 0 %>
  <% current_user.pledges.find_each do |pledge| %>
    <% list_of_pledges_for_user[pledge.project.title] += 1 %>
  <% end %>

  <% list_of_pledges_for_user.each do |name, amount| %>
    <%= name %>
  <% end %>
</ul>
