<h1>Project#Show</h1>

<% @project %>

<p>Title: <%= @project.title %></p>
<p>Description: <%= @project.description %></p>
<p>Goal: $<%= @project.goal %></p>
<p>End Date: <%= @project.end_date %></p>
